.task {
  width: 100%;
  background-color: white;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-bottom: 12px;
  position: relative;
}
.completed p {
  text-decoration: line-through;
}
.completed::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background: rgb(0, 202, 0);
  left: 0;
}
.task__main {
  display: flex;
  align-items: center;
  max-width: 230px;
}
.task__input,
.task__btn {
  margin-right: 10px;
}
.task input,
.task button {
  cursor: pointer;
}
.btn {
  border: 0;
  padding: 10px;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
}
.task__text {
  word-break: break-all;
}
.edit-btn {
  background-color: #fff;
  margin-right: 15px;
}
