.form {
  margin-top: 15px;
  width: 100%;
}
.form__input {
  width: 100%;
  padding: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: 1px solid rgb(238, 238, 238);
}
.form__input:focus {
  outline: 0;
}
