* {
  margin: 0;
  padding: 0;
  font-family: Roboto, "sans-seriff";
  box-sizing: border-box;
}
body {
  background-color: rgb(245, 245, 245);
}
button:focus,
input:focus {
  outline: 0;
}
ul,
ol {
  list-style: none;
}
h1 {
  font-size: 23px;
  text-align: center;
}
h1 span {
  font-size: 13px;
  font-weight: 400;
}
.app {
  max-width: 500px;
  padding: 30px;
  min-height: 100vh;
  margin: 0 auto;
}
.no-tasks {
  text-align: center;
  margin-top: 35px;
}
.no-tasks p {
  margin-top: 10px;
  font-size: 14px;
}
.danger-btn {
  width: 100%;
  color: #e65b65;
  font-weight: 500;
  margin-top: 15px;
  padding: 18px 30px;
  background: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
